bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Login==0.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
peewee==3.10.0
Pillow==6.1.0
psycopg2==2.8.3
pycparser==2.19
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.5
